@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');




h1{
  text-align: center;
  font-size: 30px;
}

h1,.title{
  color: black;
  font-family: helvetica;
  font-weight: bold;
}

.title{
font-size: 20px;
}
.text{
	font-weight: 300;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}

.underitle{
	font-weight: bold;
	font-style: italic;
	color: #F4AD77;
}
.highlited{
	font-style: normal;
	size: 

}
.logo{
	height: 100px;
	width: auto;
}



