/*footer*/

.socialmedia a {
	&:active,
	&:focus,
	&:visited {
		color: black;
	}
}

/*icons social media */

footer {
	font-size: 10px;
	margin-top: 200px;
	padding: 10px;
	color: white;
	background-color: $orange;
	.socialmedia {
		text-align: left;
		font-size: 20px;
		display: inline-grid;
	}
	.icon {
		padding: 5px;
	}
	.adress {
		text-align: right;
		font-size: 13px;
	}
	.newsletter{
		p{
			font-size: 13px;
			line-height: 10px;
		}
		input{
			background: $orange;
			width: 100px;
			height: 20px;
			color: white;
			border: none;
			border-bottom: solid 1px white;
			&::-webkit-input-placeholder { 
  				color: white;
			}			
			&::-moz-placeholder { 
  				color: white;
			}
			&:-ms-input-placeholder { 
  				color: white;
			}
			&:-moz-placeholder { 
  				color: white;
			}

		}
		
		button{
			padding: 5px 0;
			color: white;
			margin-top: 5px;
			margin-bottom: 10px;
			font-size: 13px;
			background-color: $orange;
			border: none;
			
			}
			}
			
			
		}
	


