/*footer*/

.socialmedia a {
	&:active,
	&:focus,
	&:visited {
		color: black;
	}
}

/*icons social media */

footer {
	font-size: 10px;
	margin-top: 200px;
	padding: 10px;
	color: white;
	background-color: $orange;
	.socialmedia {
		text-align: left;
		font-size: 20px;
		display: inline-grid;
	}
	.icon {
		padding: 5px;
	}
	.adress {
		text-align: right;
		font-size: 13px;
	}
	.newsletter{
		p{
			font-size: 13px;
			line-height: 10px;
			text-align: right;
		}
		input{
			background: $orange;
			width: 200px;
			height: 30px;
			color: white;
			border: none;
			border-bottom: solid 1px black;

			
		}
		button{
			padding-top: 5px;
			color: white;
			margin-top: 5px;
			font-size: 13px;
			background-color: $orange;
			border: none;
			
		}
	}
}