			.index {
				.firstpicture {
					background-image: url("../assets/images/bubble.jpg");
					height: 100vh;
					background-size: cover;
					/*standard grid changins */
					.grid_name {
						position: absolute;
						top: 50%;
					}
				}
			}
			.portfolio {
				/*zorgt ervoor dat de foto's niet uit hun kader scalen*/
				.work {
					overflow: hidden;
				}
				@media (min-width: 0rem) {
					.pic {
						height: auto;
						width: 100%;
					}
					.outer {
						padding-top: 20px;
					}
				}
				@media (min-width: 60rem) {
					.pic {
						height: 100%;
						width: auto;
					}
					.pichigh{
						height: 372px;
					}
					.piclow{
						height: 180px;
					}
				}
				/*defines the length of the picture*/
				.piclow {
					width: 100%;
					overflow: hidden;
				}
				.pichigh {
					width: 100%;
					overflow: hidden
				}
			}
			

			.details{
				img {
						height: auto;
						width: 100%;
					}
				}