.color {
  height: 60px;
  font-size: 12px;
  line-height: 14px;
  width: 200px;
}

.color1 {
  background-color: #F4AD77;
}

.color2 {
  background-color: black;
  color: white;
}
.color3 {
  background-color: #EDEDED;
  color: white;
}
