			.index {
				.firstpicture {
					background-image: url("../assets/images/bubble.jpg");
					height: 100vh;
					background-size: cover;
					/*standard grid changins */
					.grid_name {
						position: absolute;
						top: 50%;
					}
				}
			}
			.portfolio {
				/*zorgt ervoor dat de foto's niet uit hun kader scalen*/
				.work {
					overflow: hidden;
				}
				@include bp(xxsm) {
					.pic {
						height: auto;
						width: 100%;
					}
					.outer {
						padding-top: 20px;
					}
				}
				@include bp(lg) {
					.pic {
						height: 100%;
						width: auto;
					}
					.pichigh{
						height: 372px;
					}
					.piclow{
						height: 180px;
					}
				}


				@include bp(xlg){
					.pic {
						width: 100%;
						height: auto;
					}
				}
				// @media (max-width: 1760px) {
				// 	.pic {
				// 		width: 100% !important;
				// 		height: auto;
				// 	}
				// }
				/*defines the length of the picture*/
				.piclow {
					width: 100%;
					overflow: hidden;
				}
				.pichigh {
					width: 100%;
					overflow: hidden
				}
			}
			

			.detail{
				img {
						height: 400px;
						width: auto;
					}
				}