.row__into {
	margin-top: 30px;
}
.row__middle {
		margin-top: 150px;
	}

.row__picture {
		margin-top: 4%;
	}
.portfolio {
	/*height of the row 1= a small height 2= big height*/
	
	.inner__row{
		margin-top: 12px;
	}
	.row__1 {
		margin-top: 12px;
		height: 180px;
	}
	.row__2 {
		margin-top: 12px;
		height: 372px;
	}
}

.contact {
	.row_1 {
		height: 350px;
		margin-top: 7%;
	}
}
.jobs {
	
	.row_1 {
		margin-top: 30px;
	}
	.row_2 {
	}

}
.diensten{
	.skill{
		height: 400px;
	}
}