body {
  @include helvetica(16px, 300, 1.42);
  background-color: white;
}
h1, h2, h3, h4, h5, h6 {
   @include helvetica(16px, 300, 1.42);
}
h1 { //title
  font-size: 32px;
  font-weight: 500;
  margin: 0.67em 0;
}
h2 { //undertitle
  font-size: 20px;
  font-weight: bold;
}

h3 { //important text
  font-weight: bold;
  line-height: 1.8em;
}

h4 {
  font-weight: bold;
}

p {
  font-family: helvetica;
}

li {
  font-family: helvetica;
  padding-top: 20px;
}
.bold {
  font-weight: bold;
}
.underline_title {
  border-bottom: 1px solid $orange;
  padding-right: 30px;
}
.orange {
    color: $orange;
  }
.white{
  color: white;
}
/*index typography*/

.index {
  .slogan {
    margin-top: 2px;
    margin-left: 10%;
    color: $orange;
  }
  .h1 {
    font-size: 4em;
    font-family: helvetica;
    font-weight: bold;
    line-height: 60px;
    color: white;
    text-align: left;
    margin: 0px;
  }
  .name_bubble {
    margin-left: 10%;
  }

  .index {
    font-family: helvetica;
    line-height: 1.2em;
  }
}

.diensten {
  .steps {
    .number {
      width: 200px;
      font-size: 200px;
      color: $grey;
      margin-bottom: 50px;
      p {
        margin-bottom: 0px;
        margin-top: 0px;
      }
    }
    .step_text {
      margin-left: 70px;
      position: absolute;
      z-index: 10;
      bottom: 90px;
      @include bp(md){
        bottom: 140px;
      }
    }
  }
}
.contact{
  .inputfield{
      color:green;
    }
  }


